parameters:
    level: max
    paths:
        - app/
    excludePaths:
        - app/wordpress/*
    checkUninitializedProperties: true
    checkExplicitMixedMissingReturn: false
    tipsOfTheDay: false
