parameters:
    level: 0
    paths:
        - app/
    excludePaths:
        - app/wordpress/*
    checkUninitializedProperties: true
    checkExplicitMixedMissingReturn: false
    tipsOfTheDay: false
    ignoreErrors: []
